<form #form="ngForm" autocomplete="off" ngif="service.formData" (submit)="onSubmit(form)"> 
    
    <input  type = "hidden" name = "OrderID" #OrderID="ngModel" [(ngModel)]="service.formData.OrderID">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for = "OrderDate">Order Date:</label>
                    <input name = "OrderDate" type = "date" #OrderDate="ngModel" [(ngModel)]="service.formData.OrderDate" class="form-control"                   
                    [class.is-invalid] ="!isvalid && service.formData.OrderDate==null">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Payment Term:</label>
                    <select name = "PMethod" #PMethod="ngModel" [(ngModel)]="service.formData.PMethod" class="form-control"
                    [class.is-invalid] ="!isvalid && service.formData.PMethod==0">
                    <option value ="">-Select-</option>
                    <option value ="Cash">Cash</option>
                    <option value ="Card">Card</option>
                    </select>
                </div>               
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" >
                    <label >Customer:</label>
                    <select name = "CustomerID" #CustomerID="ngModel" [(ngModel)]="service.formData.CustomerID" class="form-control" 
                        [class.is-invalid] ="!isvalid && service.formData.CustomerID==0" >
                        <option value = "0" >-Select-</option>
                        <option *ngFor="let customer of customerList" value="{{customer.CustomerID}}">{{customer.Name}}</option>
                    </select>    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Grand Total:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Rs</div>
                            <input name = "FTotal" #FTotal="ngModel" [(ngModel)]="service.formData.FTotal" class="form-control" readonly>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
         <!-----order item----->
         
         <table class="table table-hover">
            <thead class="thead-light">
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>
                    <a class="btn btn-sm btn-success text-white" (click)="AddOrEditOrder(null,service.formData.OrderID)"><i class="fa fa-plus"></i>Add Item</a>
                </th>
                
            </thead>
            <tbody >
                <tr *ngIf="service.orderItems.length==0" [class.text-danger] ="!isvalid && service.orderItems.length==0">
                    <td class="font-italic text-center" colspan="5" >
                        No item selected
                    </td>
                </tr>
                <tr *ngFor = "let item of service.orderItems; let i=index">
                    <td>{{item.ItemName}}</td>
                    <td>{{item.Price}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{item.Total}}</td>
                    <td>
                        <a class="btn btn-sm btn-info text-white" (click)="AddOrEditOrder(i,service.formData.OrderID)"><i class="fa fa-pencil">Edit</i></a>
                        <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.OrderitemId,i)"><i class="fa fa-thrash">Delete</i></a>
                    </td>
                </tr>
            </tbody>
         </table>

        <div class="form-group">
            <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i>Submit</button>
                    
            <a class ="btn btn-outline-dark ml-1" routerLink="/orders"><i class="fa fa-table"></i>View Orders</a>  
        </div>
    
    </form>
    