<div class ="jumbotron jumbotron-fluid">
  <h3 class="display-4 text-center" style="size:30ex"><img src="\assets\Image\bhature.jpg" width="80" height="50">Sales System </h3>

   <div class="container">
      <div class="col-md-10 offset-md-1">
          <a class ="btn btn-outline-dark ml-1" routerLink="/orders"><i class="fa fa-table"></i>View Orders</a>  
          <a class ="btn btn-outline-dark ml-1" routerLink="/items"><i class="fa fa-table"></i>View Items</a>  
        <router-outlet></router-outlet>
      </div>
   </div>
</div>